*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 5rem;
    background-color: white;
}

h1{
    font-size: 2.5rem;
}

section.main-logo img{
    height: 4rem;
    vertical-align: middle;
    padding-left: 2rem;
}

section.main-logo h1{
    display: inline-block;
    padding-top: 0.5rem;
}

.bottom{
    background-color: white;
    width: 800px;
    height: 50px;
    padding: 20px;
    margin-top: 50px;
}

.style-stak{
    background-color: cornflowerblue;
    color: white;
    border: 0;
    padding: 5px;
    border-radius: 5px;
}

.style-section{
    background-color: whitesmoke;
    color: grey;
    border: 1px solid grey;
    padding: 5px;
    border-radius: 5px;
}

#container{
    width: 800px;
    height: 500px;border: 1px solid;
    overflow: auto;
    margin-top: 1.5rem;
    background-color: white;
    border: 0;
    margin-top: 2rem;
    padding-left: 1.5rem;
    display: inline-block;
    font-size: 1rem;
}

.main-task{
    padding-top: 30px;
}

.main-today, .main-upcoming{
    padding-top: 30px;
}

.style-button{
    background-color: cornflowerblue;
    color: white;
    border: 0;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
}

.goals{
    background-color: darkviolet;
    color: white;
    border: 0;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
}

.mobile{
    background-color: orangered;
    color: white;
    border: 0;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
}

.ok{
    background-color: rgb(95, 201, 95);
    color: white;
    border: 0;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
}
.section-webalte{
    background-color: deeppink;
    color: white;
    border: 0;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px;
}

.section-sales{
    background-color: green;
    color: white;
    border: 0;
    padding: 5px;
    padding-top: 10px;
    border-radius: 10px; 
}

ul{
    list-style: none;
}

li{
    padding-top: 10px;
}
